:root{
    --regularFont:font-family: "Roboto", sans-serif;
    --bigFont: font-family: "Raleway", sans-serif;
    --blue: #2196F3;
    --black:#212121;
    --grey:#757575;
    --backgrey:#F5F4FA;
    --whithe: #ffff;
    --blackFooter:#2F303A;
    --boxShadow:rgba(0, 0, 0, 0.12);
  }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    *{
      margin: 0%;
      padding: 0%;
      box-sizing: border-box;
    }
    body{
      font-family: "Raleway", sans-serif;
      font-family: "Roboto", sans-serif;
      min-width: 320px;
      max-width: 480px;
    }
    .nav {
      width: 90%;
      margin: 0 auto;
      margin-top: 5%;
    }
    .web {
      text-decoration: none;
      font-family: "Raleway", sans-serif;
      color: #2196F3;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 3%;
    }
    .nav .btnOpen {
       float: right;
       margin-right: 2%;
       margin-top: -3%;
      }
    .nav__link {
      display: none;
    }
    .nav__contact {
      display: none;
    }
    .container-all {
      position: fixed;
      opacity: 0;
      visibility: hidden;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 100;
    }
   .popup {
      height: 796px;
      position: relative;
      background-color: white;
      padding-top: 8%;
      padding-left: 7%;
    }
   .popup__link {
      color: #212121;
      font-family: "Roboto", sans-serif;
      font-size: 48px;
      line-height: 150%;
      letter-spacing: 3%;
      font-weight: 500;
      text-decoration: none;
      display: block;
    }
    .popup__link:hover {
      color: var(--blue);
    }
    .popup .contacts {
      margin-top: 20%;
      display: block;
    }
    .popup .contacts__span {
      font-size: 30px;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      line-height: 40px;
      letter-spacing: 2%;
      color: #2196F3;
    }
   .popup .contacts__span--mail {
      font-size: 24px;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      line-height: 290%;
      letter-spacing: 2%;
      color: #757575;
    }
   .popup .redes {
      padding-top: 12%;
      display: inline-flex;
    }
    .popup .redes__link {
      text-decoration: none;
      font-family: "Roboto", sans-serif;
      font-size: 15px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 2%;
      color: var(--blue);
      margin-right: 8px;
      margin-left: 6px;
    }
    .btn-close-popup {
      text-decoration: none;
      color: var(--blue);
      float: right;
      margin-top: -6%;
      margin-right: 1.5%;
      cursor: pointer;
    }
    .btn-close-popup:hover{
      color: var(--blue);
    }
    .container-all {
      position: fixed;
      opacity: 0;
      visibility: hidden;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 100%;
    }
    .container-all:target {
      background: rgba(0, 0, 0, 0.8);
      visibility: visible;
      opacity: 1;
    }
    .main{
      width: 100%;
    }
    .buttons{
      width: 98%;
      margin: 0 auto;
      margin-top: 5%;
      display: inline-block;
      margin-right: 12%;
      margin-left: 5%;
    }
    .button {
      width: 20%;
      height: 38px;
      background-color: var(--backgrey);
      border-radius: 4px;
      font-family: var(--regularFont);
      font-weight: 500;
      font-size: 16px;
      line-height: 139%;
      letter-spacing: 3%;
      font-weight: 500;
      border: none;
      color: var(--blackFooter);
      margin-bottom: 2%;
    }
    .button--1{
      width: 32%;
      height: 38px;
      background-color: var(--backgrey);
      border-radius: 4px;
      font-family: var(--regularFont);
      font-weight: 500;
      font-size: 16px;
      line-height: 139%;
      letter-spacing: 3%;
      font-weight: 500;
      border: none;
      color: var(--blackFooter);
    }
    .button:hover, .button--1:hover{
      background-color: var(--blue);
      color: var(--whithe);
    }
    .gallery{
      width: 90%;
      display:flex;
      flex-wrap: wrap;
      margin: 0 auto;
      justify-content: center;
    }
    .box{
      width: 95%;
      height: 380px;
      margin-top: 10%;
      margin-bottom: 10%;
      box-shadow: 2px 2px 2px 2px #757575;
     background-color: white;
    }
    .gallery__img1{
      height:294px;
      background-size: cover;
      background-position: center;
      background-image: url(./IMAGENEST2/image.jpg);
    }
    .gallery__img2{
      height:294px;
      background-size: cover;
      background-position: center;
      background-image: url(./IMAGENEST2/imagen-1.jpg);
    }
    .gallery__img3{
      height:294px;
      background-size: cover;
      background-position: center;
      background-image: url(./IMAGENEST2/imagen-2.jpg);
    }
    .gallery__img4{
      height:294px;
      background-size: cover;
      background-position: center;
      background-image: url(./IMAGENEST2/imagen-3.jpg);
    }
    .gallery__img5{
      height:294px;
      background-size: cover;
      background-position: center;
      background-image: url(./IMAGENEST2/imagen-4.jpg);
    }
    .gallery__img6{
      height:294px;
      background-size: cover;
      background-position: center;
      background-image: url(./IMAGENEST2/imagen-5.jpg);
    }
    .gallery__img7{
      height:294px;
      background-size: cover;
      background-position: center;
      background-image: url(./IMAGENEST2/imagen-6.jpg);
    }
    .gallery__img8{
      height:294px;
      background-size: cover;
      background-position: center;
      background-image: url(./IMAGENEST2/imagen-7.jpg);
    }
    .gallery__img9{
      height:294px;
      background-size: cover;
      background-position: center;
      background-image: url(./IMAGENEST2/imagen-8.jpg);
    }
    .gallery__img10{
      height:294px;
      background-size: cover;
      background-position: center;
      background-image: url(./IMAGENEST2/imagen-9.jpg);
    }
    .banner{
      width: 100%;
      height: 100%;
      opacity: .0;
      background-color: var(--blue);
    }
    .banner__p{
      padding: 11%;
      font-family: var(--regularFont);
      font-weight: 400;
      font-size: 15px;
      line-height: 28px;
      letter-spacing: 3%;
      text-align: left;
      color: var(--whithe);
    }
    .banner:hover{
      width: 100%;
      height: 100%;
      opacity: .8;
      transition: 3s;
      visibility: visible;
      background-color: var(--blue);
    }
    .text{
      padding: 3%;
    }
    .name{
      font-family: var(--regularFont);
      font-size: 18px;
      line-height: 36px;
      letter-spacing: 6%;
      font-weight: 700;
      color: var(--blackFooter);
    }
    .name--1{
      font-family: var(--regularFont);
      font-size: 14px;
      line-height: 36px;
      letter-spacing: 6%;
      font-weight: 700;
      color: var(--blackFooter);
    }
    .title{
      font-family: var(--regularFont);
      font-size: 16px;
      line-height: 38px;
      letter-spacing: 3%;
      font-weight: 400;
      color: var(--grey);
      margin-top: -1%;
    }
    .footer {
      width: 100%;
      text-align: center;
      background-color: #212121;
      padding-top: 15%;
    }
    
    .footer__web {
      text-decoration: none;
      font-family: "Raleway", sans-serif;
      color: #2196F3;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 3%;
    }
    .footer__p {
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      font-size: 12px;
      line-height: 24px;
      letter-spacing: 3%;
      color: white;
      margin-bottom: -2%;
    }
    .footer__span {
      margin: 0 auto;
      clear: both;
      display: table;
      color: #757575;
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      font-size: 11px;
      line-height: 24px;
      letter-spacing: 3%;
      margin-top: -2%;
    }
    .footer__social {
      margin-top: 10%;
      margin-bottom: 10%;
    }
    .footer__found {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 3%;
      color: white;
      margin-bottom: 10%;
    }
    .footer__icon {
      width: 60%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
    }
    .footer__circle {
      display: flex;
      justify-content: space-around;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.1);
    }
    .footer__svg {
      margin-top: 25%;
    }
    .footer .form__email {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 3%;
      color: white;
    }
    .footer .form__input {
      width: 90%;
      border: 1px solid #757575;
      background-color: #212121;
      border-radius: 4px;
      height: 50px;
      padding-left: 5%;
      margin-top: 10%;
      margin-bottom: 5%;
    }
    .footer .form__button {
      background-color: #2196F3;
      border: none;
      border-radius: 4px;
      width: 200px;
      height: 50px;
      margin-bottom: 10%;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 3%;
      color: white;
    }
    .footer .form__svg {
      scale: 90%;
      position: absolute;
      margin-left: -20%;
      padding: 3%;
    }
  }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    * {
      margin: 0%;
      padding: 0%;
      box-sizing: border-box;
    }
    body{
      font-family: "Roboto", sans-serif;
      font-family: "Raleway", sans-serif;
      min-width:481px ;
      max-width: 768px;
    }  
    .nav {
      width: 100%;
      padding: 2%;
      display: inline-flex;
    }
    .nav__links{
      width: 70%;
      display: flex;
      justify-content: space-around;
    }
    .nav__link{
      margin-top: 3%;
      text-decoration: none;
      font-family: var(--regularFont);
      color: var(--blackFooter);
      font-size: 12px;
      line-height: 16.41px;
      letter-spacing: 2%;
      margin-left: 2%;
    }
 /* hover overflow */
    a.nav__link {
      display: inline-block;
      padding: 0 0 22px;
      position: relative;
      overflow: hidden;
    }
    a.nav__link:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -100%;
      width: 100%;
      height: 3px;
      background: var(--blue);
      transition: left .8s;
    }
    a.nav__link:hover:after {
      left: 0;
    }
    a.nav__link:hover{
      color: #2196F3;
    }
/* end hover overflow */
    .nav__contact{
      width: 20%;
     float: right;
     margin-left: 20%;
    }
    .contact__svg{
      padding-left: -5%;
    }
    .contact__svg:hover{
    stroke: var(--blue);
    }
    .nav__contactos{
      font-family: var(--regularFont);
      font-size: 12px;
      line-height: 14.06px;
      letter-spacing: 2%;
      padding-bottom: 4%;
      color: var(--grey);
      float: left;
      margin-left: -30%;
    }
    .nav .web {
      text-decoration: none;
      font-family: "Raleway", sans-serif;
      color: #2196F3;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 3%;
    }
    .nav .btnOpen {
      display: none;
    }
   .container-all {
      display: none;
    }
    .main{
      width: 100%;
      align-items: center;
    }
    .buttons{
      width: 98%;
      margin: 0 auto;
      margin-top: 5%;
      display: inline-flex;
      justify-content: space-around;
      margin-bottom: 3%;

    }
    .button{
        background-color: var(--backgrey);      
        width: 15%;
        height: 10%;
        border-radius: 4px;
        font-family: var(--regularFont);
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 3%;
        border: none;
        margin-left: 2%;
    }
    .button:hover{
      background-color: var(--blue);
      color: var(--whithe);
    }
    .button--1{
      background-color: var(--backgrey);      
        width: 15%;
        height: 10%;
        border-radius: 4px;
        font-family: var(--regularFont);
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 3%;
        border: none;
        margin-bottom: 3%;
        margin-left: 2%;
    }
    .button--1:hover{
      background-color: var(--blue);
      color: var(--whithe);
    }
  .gallery{
    width: 90%;
    margin: 0 auto;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    margin-bottom: 10%;
  }
  .box{
    width: 284px;
    height: auto;
    box-shadow: 2px 2px 2px 2px #757575;
    background-color: white;
    cursor: pointer;
  }
  .gallery__img1{
    height: 294px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./IMAGENEST2/image.jpg);
  }
  .gallery__img2{
    height: 294px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./IMAGENEST2/imagen-1.jpg);
  }
  .gallery__img3{
    height: 294px;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-image: url(./IMAGENEST2/imagen-2.jpg);
  }
  .gallery__img4{
    height: 294px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./IMAGENEST2/imagen-3.jpg);
  }
  .gallery__img5{
    height: 294px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./IMAGENEST2/imagen-4.jpg);
  }
  .gallery__img6{
    height: 294px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./IMAGENEST2/imagen-5.jpg);
  }
  .gallery__img7{
    height: 294px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./IMAGENEST2/imagen-6.jpg);
  }
  .gallery__img8{
    height: 294px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./IMAGENEST2/imagen-7.jpg);
  }
  .gallery__img9{
    height: 294px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./IMAGENEST2/imagen-8.jpg);
  }
  .gallery__img10{
    height: 294px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./IMAGENEST2/imagen-9.jpg);
  }
  .banner{
    height: 294px;
    opacity: .0;
    background-color: var(--blue);
  }
  .banner__p{
    padding: 8%;
    font-family: var(--regularFont);
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 3%;
    text-align: left;
    color: var(--whithe);
  }
  .banner:hover{
    width: 100%;
    height: 100%;
    opacity: .8;
    transition: 2s;
    visibility: visible;
    background-color: var(--blue);
  }
  .text{
    padding: 1%;
  }
  .name{
    font-family: var(--regularFont);
    font-size: 15px;
    line-height: 36px;
    letter-spacing: 6%;
    font-weight: 700;
    color: var(--blackFooter);
  }
  .name--1{
    font-family: var(--regularFont);
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 3%;
    font-weight: 700;
    color: var(--blackFooter);
    margin-bottom: 7%;
  }
  .title{
    font-family: var(--regularFont);
    font-size: 13px;
    line-height: 38px;
    letter-spacing: 3%;
    font-weight: 400;
    color: var(--grey);
  }
   
    .footer {
      width: 100%;
      text-align: center;
      background-color: #212121;
      padding-top: 15%;
    }
    .footer__web {
      text-decoration: none;
      font-family: "Raleway", sans-serif;
      color: #2196F3;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 3%;
    }
    .footer__text{
      float: left;
      margin-left: 5%;
    }
    .footer__p {
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      font-size: 12px;
      line-height: 24px;
      letter-spacing: 3%;
      color: white;
      margin-bottom: -2%;
    }
    .footer__span {
      margin: 0 auto;
      clear: both;
      display: table;
      color: #757575;
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      font-size: 11px;
      line-height: 24px;
      letter-spacing: 3%;
      margin-top: -2%;
    }
    .footer__social {
      width: 50%;
      float: right;
      margin-right: -5%;
    }
    .form{
      margin-top: 25%;
    }
    .footer__found {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 3%;
      color: white;
      margin-bottom: 10%;
    }
    .footer__icon {
      width: 60%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
    }
    .footer__circle {
      display: flex;
      justify-content: space-around;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.1);
    }
    .footer__svg {
      margin-top: 25%;
    }
    .footer .form__email {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 3%;
      color: white;
      margin-top: 5%;
    }
    .footer .form__input {
      width: 90%;
      border: 1px solid #757575;
      background-color: #212121;
      border-radius: 4px;
      height: 50px;
      margin-top: 5%;
      margin-bottom: 5%;
      padding-left: 5%;
    }
    .footer .form__button {
      background-color: #2196F3;
      border: none;
      border-radius: 4px;
      width: 200px;
      height: 50px;
      margin-bottom: 10%;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 3%;
      color: white;
    }
    .footer .form__svg {
      scale: 90%;
      position: absolute;
      margin-left: -20%;
      padding: 3%;
    }
  }
  @media screen and (min-width: 769px) and (max-width: 1400px){
    * {
      margin: 0%;
      padding: 0%;
      box-sizing: border-box;
    }
    body{
      font-family: "Roboto", sans-serif;
      font-family: "Raleway", sans-serif;
    }
    .nav {
      width: 100%;
      display: inline-flex;
      margin-top: 1%;
      margin-bottom: 2%;
    }
    .nav__links{
      width: 60%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
    }
    .nav__link{
      padding-top: 2%;
      text-decoration: none;
      font-family: var(--regularFont);
      color: var(--blackFooter);
      font-size: 14px;
      line-height: 16.41px;
      letter-spacing: 2%;
      display: inline-block;
      padding: 0 0 22px;
      position: relative;
      overflow: hidden;
      margin-top: 2.5%;
    }
    /* hover overflow line */
    .nav__link:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -100%;
      width: 100%;
      height: 3px;
      background: #2196F3;
      transition: left 0.8s;
    }
    .nav__link:hover:after {
      left: 0;
    }
    .nav__link:hover {
      color: #2196F3;
    }
    .nav__contact{
      width: 30%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      margin-top: 1%;
    }
    .contact__svg{
      margin-left: -1%;
    }
    .contact__svg:hover{
    stroke: var(--blue);
    }
    .nav__contactos{
      font-family: var(--regularFont);
      font-size: 12px;
      line-height: 14.06px;
      letter-spacing: 2%;
      padding-bottom: 4%;
      color: var(--grey);
      padding-left: 9%;
    }
    .nav .web {
      padding-top: 1%;
      text-decoration: none;
      font-family: "Raleway", sans-serif;
      color: #2196F3;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 3%;
      margin-left: -8%;
    }
    .nav .btnOpen {
      display: none;
    }
   .container-all {
      display: none;
    }
    .buttons{
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
    }
    .button{
      background-color: var(--backgrey);      
      width: 15%;
      height: 10%;
      border-radius: 4px;
      font-family: var(--regularFont);
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 3%;
      border: none;
      margin-left: 2%;
  }
  .button:hover{
    background-color: var(--blue);
    color: var(--whithe);
  }
  .button--1{
    background-color: var(--backgrey);      
      width: 15%;
      height: 10%;
      border-radius: 4px;
      font-family: var(--regularFont);
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 3%;
      border: none;
      margin-bottom: 3%;
      margin-left: 2%;
  }
  .button--1:hover{
    background-color: var(--blue);
    color: var(--whithe);
  }
    
    .gallery{
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-bottom: 5%;
    }
    .box{
      width: 28%;
      height: 280px;
      margin-top: 5%;
      box-shadow: 2px 2px 2px 2px #757575;
     background-color: white;
    }
    .gallery__img1{
      height:194px;
      background-size: cover;
      background-position: center;
      background-image: url(./IMAGENEST2/image.jpg);
    }
    .gallery__img2{
      height:194px;
      background-size: cover;
      background-position: center;
      background-image: url(./IMAGENEST2/imagen-1.jpg);
    }
    .gallery__img3{
      height:194px;
      background-size: cover;
      background-position: center;
      background-image: url(./IMAGENEST2/imagen-2.jpg);
    }
    .gallery__img4{
      height:194px;
      background-size: cover;
      background-position: center;
      background-image: url(./IMAGENEST2/imagen-3.jpg);
    }
    .gallery__img5{
      height:194px;
      background-size: cover;
      background-position: center;
      background-image: url(./IMAGENEST2/imagen-4.jpg);
    }
    .gallery__img6{
      height:194px;
      background-size: cover;
      background-position: center;
      background-image: url(./IMAGENEST2/imagen-5.jpg);
    }
    .gallery__img7{
      height:194px;
      background-size: cover;
      background-position: center;
      background-image: url(./IMAGENEST2/imagen-6.jpg);
    }
    .gallery__img8{
      height:194px;
      background-size: cover;
      background-position: center;
      background-image: url(./IMAGENEST2/imagen-7.jpg);
    }
    .gallery__img9{
      height:194px;
      background-size: cover;
      background-position: center;
      background-image: url(./IMAGENEST2/imagen-8.jpg);
    }
    .gallery__img10{
      height:194px;
      background-size: cover;
      background-position: center;
      background-image: url(./IMAGENEST2/imagen-9.jpg);
    }
    .banner{
      height: 194px;
      opacity: .0;
      background-color: var(--blue);
    }
    .banner__p{
      padding: 5%;
      font-family: var(--regularFont);
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: 3%;
      text-align: left;
      color: var(--whithe);
    }
    .banner:hover{
      width: 100%;
      height: 100%;
      opacity: .9;
      transition: 3s;
      visibility: visible;
      background-color: var(--blue);
    }
    .text{
      padding: 3%;
    }
    .name{
      font-family: var(--regularFont);
      font-size: 15px;
      line-height: 36px;
      letter-spacing: 6%;
      font-weight: 700;
      color: var(--blackFooter);
    }
    .name--1{
      font-family: var(--regularFont);
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 3%;
      font-weight: 700;
      color: var(--blackFooter);
    }
    .title{
      font-family: var(--regularFont);
      font-size: 13px;
      line-height: 38px;
      letter-spacing: 3%;
      font-weight: 400;
      color: var(--grey);
      margin-top: -1%;
    }



    .footer {
      width: 100%;
      display: inline-flex;
      justify-content: space-around;
      text-align: center;
      background-color: #212121;
      padding-top: 5%;
      padding-bottom: 5%;
    }
    .footer__text{
      margin-left: 2%;
    }
    .footer__web {
      text-decoration: none;
      font-family: "Raleway", sans-serif;
      color: #2196F3;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 3%;
    }
    .footer__p {
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      font-size: 12px;
      line-height: 24px;
      letter-spacing: 3%;
      color: white;
      margin-bottom: -2%;
    }
    .footer__span {
      margin: 0 auto;
      clear: both;
      display: table;
      color: #757575;
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      font-size: 11px;
      line-height: 24px;
      letter-spacing: 3%;
      margin-top: -2%;
    }
    .footer__social {
     width: 30%;
    }
    .form{
      text-align: left;
      width: 40%;
    }
    .footer__found {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 3%;
      color: white;
      margin-bottom: 10%;
    }
    .footer__icon {
      width: 60%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
    }
    .footer__circle {
      display: flex;
      justify-content: space-around;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.1);
    }
    .footer__svg {
      margin-top: 25%;
    }
    .footer .form__email {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 3%;
      color: white;
      margin-top: 5%;
    }
    .footer .form__input {
      width: 90%;
      border: 1px solid #757575;
      background-color: #212121;
      border-radius: 4px;
      height: 50px;
      margin-top: 5%;
      margin-bottom: 5%;
      padding-left: 5%;
    }
    .footer .form__button {
      background-color: #2196F3;
      border: none;
      border-radius: 4px;
      width: 200px;
      height: 50px;
      margin-top: 3.5%;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 3%;
      color: white;
      margin-left: -5%;
    }
    .footer .form__svg {
      scale: 90%;
      position: absolute;
      margin-left: -20%;
      padding: 3%;
    }
  }
  @media screen and (min-width: 1401px) and (max-width: 1600px){
    * {
      margin: 0%;
      padding: 0%;
      box-sizing: border-box;
    }
    body{
      font-family: "Roboto", sans-serif;
      font-family: "Raleway", sans-serif;
    }
    .nav {
      width: 100%;
      display: inline-flex;
      margin-top: 1%;
      margin-bottom: 2%;
    }
    .nav__links{
      width: 60%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
    }
    .nav__link{
      padding-top: 2%;
      text-decoration: none;
      font-family: var(--regularFont);
      color: var(--blackFooter);
      font-size: 14px;
      line-height: 16.41px;
      letter-spacing: 2%;
      display: inline-block;
      padding: 0 0 22px;
      position: relative;
      overflow: hidden;
    }
    /* hover overflow line */
    .nav__link:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -100%;
      width: 100%;
      height: 3px;
      background: #2196F3;
      transition: left 0.8s;
    }
    .nav__link:hover:after {
      left: 0;
    }
    .nav__link:hover {
      color: #2196F3;
    }
    .nav__contact{
      width: 30%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      margin-top: 1%;
    }
    .contact__svg{
      margin-left: -1%;
    }
    .contact__svg:hover{
    stroke: var(--blue);
    }
    .nav__contactos{
      font-family: var(--regularFont);
      font-size: 12px;
      line-height: 14.06px;
      letter-spacing: 2%;
      padding-bottom: 4%;
      color: var(--grey);
      padding-left: 9%;
    }
    .nav .web {
      padding-top: 1%;
      text-decoration: none;
      font-family: "Raleway", sans-serif;
      color: #2196F3;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 3%;
      margin-left: -8%;
    }
    .nav .btnOpen {
      display: none;
    }
   .container-all {
      display: none;
    }
    .buttons{
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
    }
    .button{
      background-color: var(--backgrey);      
      width: 15%;
      height: 10%;
      border-radius: 4px;
      font-family: var(--regularFont);
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 3%;
      border: none;
      margin-left: 2%;
  }
  .button:hover{
    background-color: var(--blue);
    color: var(--whithe);
  }
  .button--1{
    background-color: var(--backgrey);      
      width: 15%;
      height: 10%;
      border-radius: 4px;
      font-family: var(--regularFont);
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 3%;
      border: none;
      margin-bottom: 3%;
      margin-left: 2%;
  }
  .button--1:hover{
    background-color: var(--blue);
    color: var(--whithe);
  }
    
    .gallery{
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-bottom: 5%;
    }
    .box{
      width: 28%;
      height: 280px;
      margin-top: 5%;
      box-shadow: 2px 2px 2px 2px #757575;
     background-color: white;
    }
    .gallery__img1{
      height:194px;
      background-size: cover;
      background-position: center;
      background-image: url(./IMAGENEST2/image.jpg);
    }
    .gallery__img2{
      height:194px;
      background-size: cover;
      background-position: center;
      background-image: url(./IMAGENEST2/imagen-1.jpg);
    }
    .gallery__img3{
      height:194px;
      background-size: cover;
      background-position: center;
      background-image: url(./IMAGENEST2/imagen-2.jpg);
    }
    .gallery__img4{
      height:194px;
      background-size: cover;
      background-position: center;
      background-image: url(./IMAGENEST2/imagen-3.jpg);
    }
    .gallery__img5{
      height:194px;
      background-size: cover;
      background-position: center;
      background-image: url(./IMAGENEST2/imagen-4.jpg);
    }
    .gallery__img6{
      height:194px;
      background-size: cover;
      background-position: center;
      background-image: url(./IMAGENEST2/imagen-5.jpg);
    }
    .gallery__img7{
      height:194px;
      background-size: cover;
      background-position: center;
      background-image: url(./IMAGENEST2/imagen-6.jpg);
    }
    .gallery__img8{
      height:194px;
      background-size: cover;
      background-position: center;
      background-image: url(./IMAGENEST2/imagen-7.jpg);
    }
    .gallery__img9{
      height:194px;
      background-size: cover;
      background-position: center;
      background-image: url(./IMAGENEST2/imagen-8.jpg);
    }
    .gallery__img10{
      height:194px;
      background-size: cover;
      background-position: center;
      background-image: url(./IMAGENEST2/imagen-9.jpg);
    }
    .banner{
      height: 194px;
      opacity: .0;
      background-color: var(--blue);
    }
    .banner__p{
      padding: 8%;
      font-family: var(--regularFont);
      font-weight: 400;
      font-size: 12px;
      line-height: 28px;
      letter-spacing: 3%;
      text-align: left;
      color: var(--whithe);
    }
    .banner:hover{
      width: 100%;
      height: 100%;
      opacity: .8;
      transition: 3s;
      visibility: visible;
      background-color: var(--blue);
    }
    .text{
      padding: 3%;
    }
    .name{
      font-family: var(--regularFont);
      font-size: 15px;
      line-height: 36px;
      letter-spacing: 6%;
      font-weight: 700;
      color: var(--blackFooter);
    }
    .name--1{
      font-family: var(--regularFont);
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 3%;
      font-weight: 700;
      color: var(--blackFooter);
    }
    .title{
      font-family: var(--regularFont);
      font-size: 13px;
      line-height: 38px;
      letter-spacing: 3%;
      font-weight: 400;
      color: var(--grey);
      margin-top: -1%;
    }



    .footer {
      width: 100%;
      display: inline-flex;
      justify-content: space-around;
      text-align: center;
      background-color: #212121;
      padding-top: 5%;
      padding-bottom: 5%;
    }
    .footer__text{
      margin-left: 2%;
    }
    .footer__web {
      text-decoration: none;
      font-family: "Raleway", sans-serif;
      color: #2196F3;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 3%;
    }
    .footer__p {
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      font-size: 12px;
      line-height: 24px;
      letter-spacing: 3%;
      color: white;
      margin-bottom: -2%;
    }
    .footer__span {
      margin: 0 auto;
      clear: both;
      display: table;
      color: #757575;
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      font-size: 11px;
      line-height: 24px;
      letter-spacing: 3%;
      margin-top: -2%;
    }
    .footer__social {
     width: 30%;
    }
    .form{
      text-align: left;
      width: 40%;
    }
    .footer__found {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 3%;
      color: white;
      margin-bottom: 10%;
    }
    .footer__icon {
      width: 60%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
    }
    .footer__circle {
      display: flex;
      justify-content: space-around;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.1);
    }
    .footer__svg {
      margin-top: 25%;
    }
    .footer .form__email {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 3%;
      color: white;
      margin-top: 5%;
    }
    .footer .form__input {
      width: 90%;
      border: 1px solid #757575;
      background-color: #212121;
      border-radius: 4px;
      height: 50px;
      margin-top: 5%;
      margin-bottom: 5%;
      padding-left: 5%;
    }
    .footer .form__button {
      background-color: #2196F3;
      border: none;
      border-radius: 4px;
      width: 200px;
      height: 50px;
      margin-top: 3.5%;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 3%;
      color: white;
      margin-left: -5%;
    }
    .footer .form__svg {
      scale: 90%;
      position: absolute;
      margin-left: -20%;
      padding: 3%;
    }
  }